$color-principal:#114358;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    background-color: $color-principal;
}