$color-principal:#114358;
$color-secundario-scroll: #1e7397;
$segundo-fondo:#d9ff01;
$color-oscuro: #090909;
$segundo-complementario: #f1ece7;



/* Declaración de @font-face */
@font-face {
    font-family: 'Azonix';
    src: url('fonts/Azonix.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family:"Azonix", sans-serif;
}

html {
    scroll-behavior:smooth;
}

/* Estilizar la barra de desplazamiento para todo el documento */
::-webkit-scrollbar {
    width: 15px; /* Ancho de la barra de desplazamiento */
}

/* Estilizar el "thumb" o control deslizante de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: $segundo-fondo; /* Color del control deslizante */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilizar el estado hover del "thumb" */
::-webkit-scrollbar-thumb:hover {
    background: darken($color-principal, 10%); /* Oscurecer el color al pasar el mouse */
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    background-image: radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 0.5), $color-oscuro 50%);
    background-attachment: fixed;
    color: $segundo-complementario;
}
