// $color-principal:#114358;
// $primer-complementario: #f2aa1f;
$primer-complementario: #56009c;
$segundo-fondo:#d9ff01;
$segundo-complementario: #f1ece7;
$color-oscuro: #090909;
$color-claro: #ffffff;

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $segundo-complementario;
    padding: 2rem;
    align-items: start;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 10px; // Coloca el indicador cerca del borde inferior
        width: 30px;
        height: 30px;
        // background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
        background: radial-gradient(circle, $segundo-fondo 0%, rgba($segundo-fondo, 0) 70%);
        border-radius: 50%;
        transform: translateX(-50%); // Centra el indicador
        animation: bounce 2s infinite; // Aplica una animación de rebote
        z-index: 2; // Asegúrate de que esté por encima de otros contenidos
    }

    .redes-sociales {
        position: absolute;
        right: 20px; /* Ajusta según necesites */
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: scrollDown 10s linear infinite;
        z-index: 33;

        .i-social {
            width: 50px;
            margin: 20px 0;
            transition: transform 0.3s;
        }
    }
    
    @keyframes scrollDown {
        0% { top: -100%; }
        100% { top: 100%; }
    }
    
    .redes-sociales:hover .i-social {
        transform: scale(1.2);
    }

    .titulo-hero {

        line-height: 1.5;

        .im {
            font-size: 3rem;
            color: $color-oscuro;
            z-index: 33;
        }
        .nombre {
            color: $primer-complementario;
            font-size: 3rem;
            margin: 1rem 0;
            z-index: 33;
        }
        .apellido {
            color: $color-oscuro;
            font-size: 3rem;
            z-index: 33;
        }
    }

    .titulo-desarrollador {
        color: $color-oscuro;
        background-color: $segundo-fondo;
        padding: 5px 10px;
        border-radius: 10px;
        font-family: "Sedgwick Ave Display", cursive;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 1px;
        font-size: 2rem;
        animation-delay: 1s;
        z-index: 33;
    }

    .hero-descripcion {
        background-color: $color-oscuro;
        padding: 20px;
        border-radius: 10px;
        // Ajusta la sombra para un efecto de relieve
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        color: $segundo-fondo;
        font-size: 1rem;
        margin-top: 3rem;
        animation-delay: 2s;
        z-index: 33;
    }

    .silueta {
        position: absolute;
        right: 150px;
        bottom: 0; /* Ajusta esto según necesites la altura*/
        height: 90%; /* Ajusta esto para cambiar el tamaño de la imagen */
        z-index: 2; /* Asegúrate de que no sobrepase otros elementos importantes */
    }

    .cubo-hero {
        position: absolute;
        align-items: center;
        right: 0;
        top: 50%; // Posiciona el inicio del cubo a la mitad de la altura de la pantalla
        transform: translateY(-50%); // Desplaza el cubo hacia arriba la mitad de su altura para centrarlo verticalmente
        border-radius: 10px 0 0 10px;
        width: 650px;
        height: 300px;
        background-color: $segundo-fondo;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        z-index: 1;

        .cubo-dev {
            position: absolute;
            color: $primer-complementario;
            font-size: 2rem;
            top: 0;
            left: 15%;
            transform: translate(-50%, -50%);
            width: 100px;
            height: 300px;
            background-color: $color-oscuro;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            border-radius: 10px;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        
            // Asumiendo que el texto está en un <span> dentro de .cubo-dev
            .span-dev {
                position: absolute;
                // bajar el texto para centrarlo verticalmente
                top: 65%;
                font-size: 3.5rem;
                // font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                transform: rotate(90deg); // Rota el texto para que aparezca vertical
                display: block; // Hace que el span se comporte como un bloque para aplicar transformaciones
                .ultima-letra {
                    margin-left: -7px; /* Acercar la ultima letra de dev */
                }
            }
        }
    }
}

