// $color-principal:#114358;
// $primer-complementario: #f2aa1f;
$primer-complementario: #56009c;
$segundo-fondo:#d9ff01;
$segundo-complementario: #f1ece7;
$color-oscuro: #090909;
$color-claro: #ffffff;

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $segundo-complementario;
    padding: 2rem;
    align-items: start;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $primer-complementario;
        clip-path:polygon(100% -30%,100% 100%,30% 100%);
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 10px; // Coloca el indicador cerca del borde inferior
        width: 30px;
        height: 30px;
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
        border-radius: 50%;
        transform: translateX(-50%); // Centra el indicador
        animation: bounce 2s infinite; // Aplica una animación de rebote
        z-index: 2; // Asegúrate de que esté por encima de otros contenidos
    }

    .redes-sociales {
        position: absolute;
        right: 20px; /* Ajusta según necesites */
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: scrollDown 10s linear infinite;
        z-index: 33;

        .i-social {
            width: 50px;
            margin: 20px 0;
            transition: transform 0.3s;
        }
    }
    
    @keyframes scrollDown {
        0% { top: -100%; }
        100% { top: 100%; }
    }
    
    .redes-sociales:hover .i-social {
        transform: scale(1.2);
    }

    .im {
        font-size: 4rem;
        color: $color-oscuro;
        z-index: 33;
    }
    .nombre {
        color: $primer-complementario;
        font-size: 4rem;
        margin: 1rem 0;
        z-index: 33;
    }
    .apellido {
        color: $color-oscuro;
        font-size: 4rem;
        z-index: 33;
    }
    .titulo-desarrollador {
        color: $color-oscuro;
        background-color: $segundo-fondo;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 3rem;
        animation-delay: 1s;
        z-index: 33;
    }

    .hero-descripcion {
        background-color: $color-oscuro;
        padding: 20px;
        border-radius: 10px;
        // Ajusta la sombra para un efecto de relieve
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        color: $segundo-fondo;
        font-size: 18px;
        margin-top: 3rem;
        animation-delay: 2s;
        z-index: 33;
    }

    .silueta {
        position: absolute;
        right: 150px;
        bottom: 0; /* Ajusta esto según necesites la altura*/
        height: 90%; /* Ajusta esto para cambiar el tamaño de la imagen */
        z-index: 2; /* Asegúrate de que no sobrepase otros elementos importantes */
    }
}

