// $segundo-complementario: #f1ece7;


#seccion-menu {
    width: 100%;
    background-color: $color-oscuro;
    padding: 30px 0 30px 0;

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;

        .ul {
            display: flex;
            flex-direction: row;
            list-style: none;

            .li {
                margin: 0 50px;

                .a {
                    text-decoration: none;
                    color: $color-claro;
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 10px; // Este es el margin original
                    padding: 5px 10px; // Padding original
                    border-radius: 10px;
                    transition: background-color 0.3s, padding 0.3s, margin 0.3s; // Añade transiciones para margin y padding
                
                    &:hover {
                        background-color: $color-claro;
                        padding: 20px; // Aumenta el padding
                        margin: 15px 0; // Ajusta el margin para compensar el aumento de padding
                        color: $primer-complementario;
                    }
                }
            
            }
        }
    }
}

.fixed-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que el menú se muestre sobre otros contenidos */
}
