@charset "UTF-8";
/* Declaración de @font-face */
@font-face {
  font-family: "Azonix";
  src: url("fonts/Azonix.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azonix", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Estilizar la barra de desplazamiento para todo el documento */
::-webkit-scrollbar {
  width: 15px; /* Ancho de la barra de desplazamiento */
}

/* Estilizar el "thumb" o control deslizante de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #d9ff01; /* Color del control deslizante */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilizar el estado hover del "thumb" */
::-webkit-scrollbar-thumb:hover {
  background: #09222d; /* Oscurecer el color al pasar el mouse */
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  background-image: radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 0.5), #090909 50%);
  background-attachment: fixed;
  color: #f1ece7;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  align-items: start;
  position: relative;
  overflow: hidden;
}
#hero::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 30px;
  height: 30px;
  background: radial-gradient(circle, #d9ff01 0%, rgba(217, 255, 1, 0) 70%);
  border-radius: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
  z-index: 2;
}
#hero .redes-sociales {
  position: absolute;
  right: 20px; /* Ajusta según necesites */
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scrollDown 10s linear infinite;
  z-index: 33;
}
#hero .redes-sociales .i-social {
  width: 50px;
  margin: 20px 0;
  transition: transform 0.3s;
}
@keyframes scrollDown {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
#hero .redes-sociales:hover .i-social {
  transform: scale(1.2);
}
#hero .titulo-hero {
  line-height: 1.5;
  padding-bottom: 5rem;
}
#hero .titulo-hero .nombre {
  color: #ffffff;
  font-size: 3rem;
  margin: 1rem 0;
  z-index: 33;
}
#hero .titulo-hero .apellido {
  color: #ffffff;
  font-size: 3rem;
  z-index: 33;
}
#hero .titulo-desarrollador {
  color: #d9ff01;
  font-family: sans-serif;
  margin-top: -100px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 3rem;
  animation-delay: 1s;
  z-index: 33;
}
#hero .hero-descripcion {
  background-color: #090909;
  width: 35%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #d9ff01;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  animation-delay: 1s;
  animation-duration: 1.5s;
  z-index: 33;
}
#hero .boton-contacto {
  padding: 15px 30px;
  border: none;
  margin-top: 3rem;
  margin-left: 7rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  background-color: #56009c;
  animation-delay: 1.5s;
  animation-duration: 3s;
  color: #ffffff;
}
#hero .boton-contacto:hover {
  background-color: #d9ff01;
  color: #090909;
}
#hero .silueta {
  position: absolute;
  right: 150px;
  bottom: 0; /* Ajusta esto según necesites la altura*/
  height: 90%; /* Ajusta esto para cambiar el tamaño de la imagen */
  z-index: 2; /* Asegúrate de que no sobrepase otros elementos importantes */
}
#hero .cubo-hero {
  position: absolute;
  align-items: center;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px 0 0 10px;
  width: 650px;
  height: 300px;
  background: linear-gradient(to right, #ffe53b, #56009c);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 1;
}
#hero .cubo-hero .cubo-dev {
  position: absolute;
  color: #56009c;
  font-size: 2rem;
  top: 0;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 300px;
  background-color: #090909;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero .cubo-hero .cubo-dev .span-dev {
  position: absolute;
  top: 65%;
  font-size: 3.5rem;
  transform: rotate(90deg);
  display: block;
}
#hero .cubo-hero .cubo-dev .span-dev .ultima-letra {
  margin-left: -7px; /* Acercar la ultima letra de dev */
}

#seccion-menu {
  width: 100%;
  padding: 30px 0 30px 0;
  border-top: 0.5px solid #ffffff;
}
#seccion-menu .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#seccion-menu .nav .ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
#seccion-menu .nav .ul .li {
  margin: 0 50px;
}
#seccion-menu .nav .ul .li .a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: background-color 0.3s, padding 0.3s, margin 0.3s;
}
#seccion-menu .nav .ul .li .a:hover {
  padding: 20px;
  margin: 15px 0;
  color: #56009c;
  text-decoration: wavy;
}

.fixed-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegúrate de que el menú se muestre sobre otros contenidos */
}

#about .about-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  color: #f1ece7;
  font-size: 6rem;
  margin-bottom: 0;
  margin-top: 180px;
}
#about .about-titulo span {
  font-size: 6rem;
  margin-top: -10px;
}
#about .about-subtitulo {
  display: flex;
  justify-content: center;
  color: #56009c;
  font-size: 3rem;
  margin-top: -135px;
}
#about .about-container {
  width: 100%;
  padding-top: 50px;
  margin-top: 90px;
}
#about .about-container .about-descripcion {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}
#about .about-container .about-descripcion .imagen-perfil {
  width: auto;
  height: 400px;
  margin-left: 30px;
  border-radius: 10px;
}
#about .about-container .about-descripcion .bio {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 50%;
}
#about .about-container .about-descripcion .bio h3 {
  color: #d9ff01;
  font-size: 3rem;
}
#about .about-container .about-descripcion .bio p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 50px;
}
#about .about-container .habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
#about .about-container .habilidades h3 {
  color: #d9ff01;
  font-size: 3rem;
}
#about .about-container .habilidades p {
  color: #ffffff;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 30px;
}
#about .about-container .habilidades .habilidades-tecnolias {
  margin-top: 20px;
  font-size: 25px;
  color: #56009c;
}
#about .about-container .habilidades ul {
  border: #d9ff01 1px solid;
  box-shadow: 0 0 10px #d9ff01;
  background: rgba(86, 0, 156, 0.1);
  width: 700px;
  border-radius: 10px;
  height: 400px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
#about .about-container .habilidades ul li {
  position: absolute;
  display: block;
  margin: 0;
  transition: transform 1s ease;
}
#about .about-container .habilidades ul li img {
  width: 90px;
}

/*# sourceMappingURL=estilos.css.map */
