@import "generales";
@import "hero";
@import "menu";
@import "about";

// $color-principal:#114358;
// $primer-complementario: #f2aa1f;
$primer-complementario: #56009c;
$segundo-fondo:#d9ff01;
$segundo-complementario: #f1ece7;
$color-oscuro: #090909;
$color-claro: #ffffff;


// para gradientes
$gradiente-1: #ffe53b;
$gradiente-2: #00ffff;
// $color-principal:#114358;
// $primer-complementario: #f2aa1f;
// $segundo-complementario: #f1ece7;
// $color-oscuro: #090909;
// $color-claro: #ffffff;